<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apply for access to {{team}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    {{#apply}}
    <div class="main-container">
      {{#header}}
      <h1>{{blurb}}</h1>
      <p class="description">{{description}}</p>
      <div class="required">* {{required}}</div>
      {{/header}}

      <form method="post" action="/apply" enctype="multipart/form-data" id="application">
        {{#form}}
          {{#fullName}}
            {{>field}}
          {{/fullName}}
          {{#email}}
            {{>field}}
          {{/email}}
          {{#custom}}
            {{>field}}
          {{/custom}}
        {{/form}}

        <div class="submit"><input type="submit"></div>
      </form>
      <div class="example">
        <p>Here's a sample screenshot, for reference:</p>
        <div class="sample-screenshot"></div>
      </div>
    </div>
    {{/apply}}
  </body>
</html>
