<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apply for access to {{team}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p class="description">{{description}}</p>
    <div class="required">* Required</div>
    <form method="post" action="/apply" enctype="multipart/form-data" id="application">
      <label for="fullName" class="full-name">
        <div class="title">Full name <span class="required">*</span></div>
      </label>
      <input type="text" id="fullName" name="fullName" value="{{fullName}}" readonly>

      <label for="" class="email">
        <div class="title">Email address <span class="required">*</span></div>
      </label>
      <input type="text" id="email" name="email" value="{{email}}" readonly>

      <label for="agentName" class="agent-name">
        <div class="title">Ingress agent name <span class="required">*</span></div>
        <div class="help">If you belong to the wrong faction, your request will be denied.</div>
      </label>
      <input type="text" id="agentName" name="agentName" value="{{nickname}}" required autofocus>

      <label for="community" class="community">
        <div class="title">Community name (optional)</div>
        <div class="help">To help speed up the verification process, you may provide the name(s) of any communities you are a member of.</div>
      </label>
      <input type="text" id="community" name="community">

      <label for="comments" class="comments">
        <div class="title">Comments</div>
        <div class="help">Any additional information you would like to provide to help expedite your request.</div>
      </label>
      <textarea id="comments" name="comments" rows="8"></textarea>

      <label for="screenshot" class="screenshot">
        <div class="title">Select a screenshot of your faction COMM in the Ingress app <span class="required">*</span></div>
        <div class="help">You must submit a recent screenshot that clearly shows your agent name and the open faction chat or your agent profile.</div>
      </label>
      <input type="file" class="screenshot" accept="image/*" id="screenshot" name="screenshot" required>

      <div><input type="submit" value="Submit"></div>
    </form>
  </body>
</html>
