<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign in to continue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="main-container">
      <h1>{{team}}</h1>
      <h3>Thanks for your interest in joining!</h3>
      <p>For security reasons, we request that you sign in with Google+ to continue...</p>
      <div class="signin" id="signinButton">
        <span class="g-signin"
          data-scope="profile https://www.googleapis.com/auth/plus.profile.emails.read"
          data-clientid="960639325101-1jg1eqih3h29rfhvg1m3k73kh944d1dp.apps.googleusercontent.com"
          data-redirecturi="/login"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback">
        </span>
      </div>
      <p class="subtext">Your public profile information and public G+ activity will be used to verify your identity.</p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
      (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
      }());
    </script>
    <script type="text/javascript">
      function signInCallback(authResult) {
        if (authResult.code) {
          $.ajax({
            url: 'https://www.googleapis.com/plus/v1/people/me',
            beforeSend: function (xhr) { xhr.setRequestHeader('Authorization','Bearer ' + authResult.access_token); }
          }).done(function (user) {
            $.post('/login', { code: authResult.code, user: user })
            .done(function (data) {
              window.location.replace('/apply');
            });
          });
        } else if (authResult.error) {
          console.error('Google+ Signin: ' + authResult.error);
        }
      }
    </script>
  </body>
</html>
