<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Application recieved</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="main-container">
      <h1>Thank you, <span class="full-name">{{fullName}}</span>!</h1>
      <p>Your <span class="team-name">{{team}}</span> application is being
      processed. If you are approved, you will receive an email at
      &lt;<span class="email">{{email}}</span>&gt;
      with further instructions.</p>
    </div>
  </body>
</html>
